<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>소켓</title>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <h3>소켓 연습</h3>
    <button onclick="hello()">hello</button>
    <button onclick="entry()">entry</button>

    <button onclick="Helloo()">안녕</button>
    <button onclick="study()">study</button>

    <button onclick="bye()">bye</button>
    <div id="inner"></div>
    


    <script>
      const inner = document.getElementById("inner")
      const socket = io()
      // 소켓을 이용해 데이터 전송하는 함수 : emit
      // 소켓을 이용해 데이터 수신하는 이벤트 : on

      function hello() {
        // (전송할 이벤트 이름 [, 전송할 데이터])
        // 전송할 데이터의 형태는 자유롭게 (문자열, 숫자, 객체)
        socket.emit("hello", {
          msg: "안녕하세요~"
        })
      }

      socket.on("bye", (res) => {
        console.log(res)
      })

      function entry() {
        socket.emit("entry") 
      }

      socket.on('notice', (res) => {
        console.log(res.msg)
      })

      // const inner=document.getElementById("inner")

      // function Helloo() {
      //   socket.emit("Hello", {
      //     msg: "안녕~"
      //   })
      //   socket.on("Hellomsg", (res) => {
      //     inner.innerHTML =res.msg;
      // })
      // }
      


      // function study() {
      //   socket.emit("study", {
      //     msg: "공부하세요~"
      //   })
      //   socket.on("studymsg", (res) => {
      //     inner.innerHTML =res.msg;
      // })
      // }

      function Helloo() {
        socket.emit("Hello", {
          msg: "안녕~"
        })
        socket.on("Hellomsg", (res) => {
          inner.innerHTML = res.msg;
        })
      }

      function study() {
        socket.emit("study", {
          msg: "공부하세요~"
        })
        socket.on("studymsg", (res) => {
          inner.innerHTML = res.msg;
        })
      }

      function bye() {
        socket.emit("bye", {
          msg: "잘가~"
        })
        socket.on("byemsg", (res) => {
          inner.innerHTML =res.msg;
      })
      }


      // document.getElementById('inner').innerHTML = <p id
    </script>
  </body>
</html>