.box{
    width:1000px;
    height:1000px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.box1{
    background-color: rgb(244, 201, 208);
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.box2{
    background-color: rgb(233, 204, 151);
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box3{
    background-color: rgb(203, 251, 203);
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box4{
    background-color: rgb(196, 232, 243);
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    width: 1000px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

/* 3번 */
.container header{
    background-color: pink;
    height: 100px;
    width:700px;

}
.container nav{
    background-color: rgb(216, 196, 235);
    height: 30px;
    width:700px;
}
.container main{
    display:flex;
    height:500px;
}
aside{
    background-color: aqua;
    width:200px;
}
article{
    background-color: rgb(213, 213, 175);
    width:500px;
}

    /* 4번 */

    form{
        display:flex;
        flex-direction: column;

    }
    form label{
        display: flex;
        margin: 10px;
    }
    form label div{ 
        width :150px;
        background-color: aquamarine;
    }
/* 5번 */
.egg{ 
    background-color: grey;
    width: 1000px;
    height: 1000px;
    display: flex;
    align-items: end;
}
.egg footer{
    background-color: orange;
    height: 100px;
}

