<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
</head>
<body>
    <nav id="Menu">
        <ul> 
          <li>Condingon</li>
          <li>menu1</li>
          <li>menu2</li>
          <li class="login" >login</li>
        </ul>
    </nav>

    <h2>실습. Session 연습</h2>
    <div class="user">로그인을 해주세요</div>
    <div class="logout"></div>

    <!-- <div>회원님 감사합니다.</div> -->
   

  
    
    
</body>
<script>

    axios({
        method:'get',
        url:"/get"
    }).then((res)=>{
        
        if(` <%= user%> `){
           $('.user').html( '<%= user%> 님 환영합니다')
           $('.logout').html('LOGOUT')

        } else{
            $('.user').html(`다시 로그인 해주세요`)
    }
})

</script>
</html>