<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <nav id="Menu">
        <ul> 
          <li>Condingon</li>
          <li>menu1</li>
          <li>menu2</li>
          <li class ="userLogin">login</li>
        </ul>
    </nav>

    <h2>실습. Session 연습</h2>
    <div class="user"></div>

    <!-- <div>회원님 감사합니다.</div> -->
   

    
    
    
</body>
<script>
    axios({
        method:'get',
        url:"/"
    }).then((result)=>{
        const Login = document.querySelector('.userLogin');
        const userLogin = document.querySelector('.user');
        if('<%=user%>'){
            Login.innerHTML='logout'
            userLogin.innerHTML="<%=user%> 님 반갑습니다"

        } else{
            userLogin.innerHTML = '로그인 먼저 부탁드립니다'
        }
    })

</script>
</html>