.box{
    background-color: black; 
    color:white;
    width:100px; 
    height:100px;
    margin: 5px;
}

.css-display{
    height:100px;
}

/* inline : width, heigh, margin(top,bottm) 은 무용지물.
 */
/*inlin-block:inline 과 block의 특징을 합쳐놓음( inline: contentdml 크기만큼만 공간을 차지/ block: width, height, margin: 정상 작동*/
 .d-inline-block{
    display: inline-block;
    padding:20px;
 }
 
.container{
    /*flex:자식요소(하위 요소 아님 주의)를 inlink-block으로 만든다*/
    display: flex;
    height:500px;
    flex-direction: colunm-reverse;
    /* 세로정렬 */
}

.container-2{
    /*flex-wrap, justfy-content*/
    display: flex;
    width: 400px;
    height:400px;
    background-color: blue;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
    /*flex-direction: column 세로정렬
    justify-content - 주 축의 정렬
    flex-start; 기본값
    space-between 가장 멀리 떨어트린다
    space-around 여백이 동일하게 설정된다
    spdace-evenly 아이템 제외한 나머지 여백들이 동일하게 가겠다.*/
    /*align-items 도 동일함 */
}

.container-3{
    /*flex-wrap, justfy-content*/
    display: flex;
    width: 400px;
    height:400px;
    background-color: blue;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
    align-content:center;
    margin: 2px;
}